//**********************************************
// Add main colours here. Please try to stick to
// a limited pallette for consistency purposes :)
//**********************************************/
$primary-color: #cb2223;
$secondary-color: #e7dcd6;
$tertiary-color: #35353c;
$grey-color: #111;
