//breakpoints
$breakpoint-xs: 0;  //only used in bs3
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//grid gutters
$gutter-width-xs:         40px;
$gutter-width-sm:         40px;
$gutter-width-md:         40px;
$gutter-width-lg:         40px;
$gutter-width-xl:         200px;

//only used in Bs4
$container-max-width-sm: 576px;
$container-max-width-md: 768px;
$container-max-width-lg: 992px;
$container-max-width-xl: 1920px;
