
html,
body {
	background-color: #fff;
}

html {
	font-size: 16px;
	color: #333;
}

a{
	text-decoration: none;
  transition: all .5s ease;
  cursor: pointer;
}

strong{
	font-weight: bold;
}

img{
  max-width: 100%;
}
